@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(68, 68, 68);
  font-family: Roboto, sans-serif, FontAwesome;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
@media screen and (max-width: 800px){
  body {
    font-size: 80% !important;
  }
}

footer {
  position: fixed;
  width: 100%;
}

/*----------Navbar------------*/
nav{
  height: 4rem;
  width: 100%;
  background-color: #2ec06f;
  display: flex;
  z-index: 10;
}

.logo{
  padding:1vh 1vw;
  text-align: center;
}
.logo img {
  height: 3rem;
  width: 5rem;
}

.nav-links{
  display: flex;
  list-style: none; 
  width: 88vw;
  padding: 0 0vw;
  justify-content: space-between;
  align-items: center;
}
.nav-links li a{
  text-decoration: none;
  margin: 2vh 0.7vw 0 0;
  color: white;
  font-size: medium;
}
.nav-links li a:hover {
  color: white;
}
.nav-links li {
  position: relative;
}
.nav-links li a span::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  top: 25px;
  background-color: white;
  position: relative;
  transition: all ease-in-out 250ms;
  margin: 0 0;
}
.nav-links li a span:hover::before{
  width: 100%;
}

.img-nav {
  border-radius: 50%;
  margin-top: -3px;
}

.login-button {
  display: inline-block;
  padding: 4px 22px;
  overflow: hidden;
  color: #2ec06f !important;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 20px;
  background-size: 200px;
  background-position: 20% -40%;
  background-repeat: repeat-x;
  transition: background-position 0.8s ease;
  background-color: white;
  margin: 5px;
}

.login-button:hover {
  background-position: 100% 50%;
  border: 1px solid white;
  color: white !important;
}

.liquidlogin {
  background-image: url("button/waveGreenWhite.svg");
}

.register-button {
  display: inline-block;
  padding: 4px 22px;
  overflow: hidden;
  color: white !important;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 20px;
  background-size: 200px;
  background-position: 20% -40%;
  background-repeat: repeat-x;
  transition: background-position 0.8s ease;
  background-color: #2ec06f;
  margin: 5px;
}

.register-button:hover {
  background-position: 100% 50%;
  border: 1px solid white;
  color: #2ec06f !important;
}

.liquidregister {
  background-image: url("button/waveGreen.svg");
}

.hamburger div{
  width: 30px;
  height:3px;
  background: white;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger{
  display: none;
}

@media screen and (max-width: 800px){
  nav{
      position: relative;
      z-index: 3;
      top: 0px;
  }
  .hamburger{
      display:block;
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
      transition: all 0.7s ease;
  }
  .nav-links{
      position: fixed;
      background: #2ec06f;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(50px at 90% -20%);
      -webkit-clip-path: circle(50px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
      padding-bottom: 2rem;
  }
  .nav-links.open{
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
  }
  .nav-links li{
      color: #2ec06f;
  }

  .nav-links li:nth-child(1){
      transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2){
      transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3){
      transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4){
      transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5){
      transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6){
      transition: all 0.5s ease 0.9s;
      margin: 0;
  }
  .nav-links li:nth-child(7){
      transition: all 0.5s ease 1s;
      margin: 0;
  }
  li.fade{
      opacity: 1;
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  transition: all 0.7s ease;
  width:0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

/*----------Banner------------*/
.banner {
  background:#2ec06f;
  min-height: 90vh;
  padding: 0rem 5rem 15rem 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  height: 88vh;
}

.banner .content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner .content .principal {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.banner .content .general-info {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.banner .content .general-info svg {
  margin: -8px 0;
}

@media screen and (max-width: 800px) {
  .banner {
    background:#2ec06f;
    min-height: 88vh;
    padding: 1rem 0rem 5rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    height: 100vh;
    text-align: center;
  }
  .banner .content {
    flex-direction: column-reverse;
  }
  .banner .content .principal {
    padding: 0rem 2rem 0rem 2rem;
  }
  .banner .content .general-info {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .banner {
    background:#2ec06f;
    min-height: 77vh;
    padding: 2rem 0rem 5rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    height: 100vh;
    text-align: center;
  }
  .banner .content {
    flex-direction: column-reverse;
  }
  .banner .content .principal {
    padding: 0rem 2rem 0rem 2rem;
  }
  .banner .content .general-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  }
}

.banner .content .principal h1 {
  color: white;
  font-weight: bold;
  font-size: 3em;
}

.banner .content .principal a {
  text-decoration: none;
}

.banner .content .principal p {
  color: white;
  font-size: 2em;
  font-weight: 300;
}

#icon{
  width: 43vh;
  height: 43vh;
  position: relative;
  display: block;
}

#icon2{
  width: 43vh;
  height: 43vh;
  position: absolute;
  display: block;
}

#icon3{
  width: 43vh;
  height: 43vh;
  right: 40px;
  top: 60px;
  position: relative;
  display: block;
  transform: scale(0.5);
}

#icon4{
  width: 33vh;
  height: 33vh;
  right: 60px;
  position: absolute;
  display: block;
}

#icon5{
  width: 36vh;
  height: 36vh;
  left: 70px;
  position: relative;
  display: block;
}

#icon6{
  width: 20vh;
  height: 20vh;
}

#circle{
  width: 43vh;
  height: 43vh;
  position: absolute;
  display: block;
  transform: scale(1.2);
}

@media screen and (max-width: 800px) {
  #icon{
    width: 35vh;
    height: 35vh;
    position: relative;
    display: block;
  }
  
  #icon2{
    width: 35vh;
    height: 35vh;
    position: absolute;
    display: block;
  }
  
  #icon3{
    width: 35vh;
    height: 35vh;
    right: 40px;
    top: 60px;
    position: relative;
    display: block;
    transform: scale(0.5);
  }
  
  #icon4{
    width: 26vh;
    height: 26vh;
    right: 60px;
    position: absolute;
    display: block;
  }
  
  #icon5{
    width: 30vh;
    height: 30vh;
    left: 70px;
    position: relative;
    display: block;
  }
  
  #icon6{
    width: 16vh;
    height: 16vh;
  }
  
  #circle{
    width: 35vh;
    height: 35vh;
    position: absolute;
    display: block;
    transform: scale(1.2);
  }
}

/*----------Item------------*/
.align-items-stretch{
  -webkit-box-align:stretch!important;
  -ms-flex-align:stretch!important;
  align-items:stretch!important;
  background-color: rgba(255, 255, 255, 0);
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 250%;
}

h3 {
  font-size: 200%;
  font-weight: 500;
  padding-bottom: 1rem;
}

p {
  font-size: medium;
}

.underline {
  background-image: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  background-position: bottom;
  background-size: 100% 10%;
  background-repeat: no-repeat;
}

.card {
  background-color: white;
  padding: 0 0;
  margin: 0 0;
  border-radius: 30px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  outline:none;
  border:none;
  width: auto;
}

.wrapper {
  background-color: rgba(255, 255, 255, 0.70);
  padding: 15px 15px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  box-shadow: none;
  outline:none;
  border:none;
}

.padding {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  color:#e6d820;
} 

.imgs {
  border-radius: 10px;
  object-fit: cover;
}

/*----------Table------------*/
.table{
  padding: 0 0;
  margin: 0 0;  
  border-radius: 20px;
  box-shadow: none;
  outline:none;
  border-style : hidden !important;
  border:none;
  font-size: medium;
}

.table-responsive {
  display: block;
   width: 100%;
   overflow-x: auto;
   -webkit-overflow-scrolling: touch;
   -ms-overflow-style: -ms-autohiding-scrollbar;
}

td { 
  overflow: hidden; 
  text-overflow: ellipsis; 
  word-wrap: break-word;
}
/*----------Profil------------*/

.profile-card{
  padding: 7px 7px;
}

.profile-info{
  padding: 0 2rem 0 2rem;
}

.img-profile {
  margin-top: 6vh;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
}

.img-banner{
  object-fit: cover;
  height: 30vh;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
}

.grounded-radiants {
  position: relative;
  border: 4px solid transparent;
  border-radius: 50%;
  background: white;
  background-clip: padding-box;
  padding: 10px;
}

/*----------Button------------*/
.custom-btn {
  width: auto;
  height: 8vh;
  color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 12px 25px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none !important;
  font-size: medium;
}

.btn-card {
  background: #2ec06f;
  border: none;
  z-index: 1;
}
.btn-card:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 0.3s ease;
}
.btn-card:hover {
  color: #2ec06f;
}
.btn-card:hover:after {
  left: 0;
  width: 100%;
}
.btn-card:active {
  top: 2px;
}

.btn-card2 {
  background: #8f8f8f;
  border: none;
  z-index: 1;
}
.btn-card2:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 0.3s ease;
}
.btn-card2:hover {
  color: #8f8f8f;
}
.btn-card2:hover:after {
  left: 0;
  width: 100%;
}
.btn-card2:active {
  top: 2px;
}

.green-button {
  display: inline-block;
  padding: 4px 22px;
  overflow: hidden;
  color: white !important;
  text-decoration: none;
  border: 1px solid #2ec06f;
  border-radius: 20px;
  background-size: 200px;
  background-position: 20% -40%;
  background-repeat: repeat-x;
  transition: background-position 0.8s ease;
  background-color: #2ec06f;
  margin: 2px;
}

.green-button:hover {
  background-position: 100% 50%;
  border: 1px solid #2ec06f;
  color: #2ec06f !important;
}

.liquidgreen {
  background-image: url("button/waveGreen.svg");
}

.wgreen-button {
  display: inline-block;
  padding: 4px 22px;
  overflow: hidden;
  color: #2ec06f !important;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 20px;
  background-size: 200px;
  background-position: 20% -40%;
  background-repeat: repeat-x;
  transition: background-position 0.8s ease;
  background-color: white;
  margin: 2px;
}

.wgreen-button:hover {
  background-position: 100% 50%;
  border: 1px solid white;
  color: white !important;
}

.liquidwgreen {
  background-image: url("button/waveGreenWhite.svg");
}

.grey-button {
  display: inline-block;
  padding: 4px 22px;
  overflow: hidden;
  color: white !important;
  text-decoration: none;
  border: 1px solid #8f8f8f;
  border-radius: 20px;
  background-size: 200px;
  background-position: 20% -40%;
  background-repeat: repeat-x;
  transition: background-position 0.8s ease;
  background-color: #8f8f8f;
  margin: 2px;
}

.grey-button:hover {
  background-position: 100% 50%;
  border: 1px solid #8f8f8f;
  color: #8f8f8f !important;
}

.liquidgrey {
  background-image: url("button/waveGrey.svg");
}

.wgrey-button {
  display: inline-block;
  padding: 4px 22px;
  overflow: hidden;
  color: #8f8f8f;
  text-decoration: none;
  border: 1px solid #8f8f8f;
  border-radius: 20px;
  background-size: 200px;
  background-position: 20% -40%;
  background-repeat: repeat-x;
  transition: background-position 0.8s ease;
  background-color: white;
  margin: 2px;
}

.wgrey-button:hover {
  background-position: 100% 50%;
  border-color: #8f8f8f;
  color: #fcfcfc;
}

.liquidwgrey {
  background-image: url("button/waveGreyWhite.svg");
}

.red-button {
  display: inline-block;
  padding: 4px 22px;
  overflow: hidden;
  color: white !important;
  text-decoration: none;
  border: 1px solid #fd2020;
  border-radius: 20px;
  background-size: 200px;
  background-position: 20% -40%;
  background-repeat: repeat-x;
  transition: background-position 0.8s ease;
  background-color: #fd2020;
  margin: 2px;
}

.red-button:hover {
  background-position: 100% 50%;
  border: 1px solid #fd2020;
  color: #fd2020 !important;
}

.liquidred {
  background-image: url("button/waveRed.svg");
}

.blue-button {
  display: inline-block;
  padding: 4px 22px;
  overflow: hidden;
  color: white !important;
  text-decoration: none;
  border: 1px solid #21628D;
  border-radius: 20px;
  background-size: 200px;
  background-position: 20% -40%;
  background-repeat: repeat-x;
  transition: background-position 0.8s ease;
  background-color: #21628D;
  margin: 2px;
}

.blue-button:hover {
  background-position: 100% 50%;
  border: 1px solid #21628D;
  color: #21628D !important;
}

.liquidblue {
  background-image: url("button/waveBlue.svg");
}

.yellow-button {
  display: inline-block;
  padding: 4px 22px;
  overflow: hidden;
  color: white !important;
  text-decoration: none;
  border: 1px solid #ff9900;
  border-radius: 20px;
  background-size: 200px;
  background-position: 20% -40%;
  background-repeat: repeat-x;
  transition: background-position 0.8s ease;
  background-color: #ff9900;
  margin: 2px;
}

.yellow-button:hover {
  background-position: 100% 50%;
  border: 1px solid #ff9900;
  color: #ff9900 !important;
}

.liquidyellow {
  background-image: url("button/waveYellow.svg");
}


/*----------Menu/Res Page------------*/
.dish-card .card-img-top {
  width: clamp(10rem, 100vw, 100%);
  height: 50vh;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 5px solid transparent;
  border-image: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  border-image-slice: 1;
}

.dish-card .card-body {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  object-fit: cover;
}

.card-price {
	display: inline-block;
  width: auto;
	height: 38px;
	background-color: #2ec06f;
	-webkit-border-radius: 3px 4px 4px 3px;
	-moz-border-radius: 3px 4px 4px 3px;
	border-radius: 3px 4px 4px 3px;
	border-left: 1px solid #2ec06f;
	margin-left: 19px;
	position: absolute;
	color: white;
	font-weight: 300;
	font-size: 22px;
	line-height: 38px;
	padding: 0 10px 0 10px;
  top: 250px;
  right: -10px
}

.card-price:before {
	content: "";
	position: absolute;
	display: block;
	left: -19px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
	border-right: 19px solid #2ec06f;
}

.card-price:after {
	content: "";
	background-color: white;
	border-radius: 50%;
	width: 4px;
	height: 4px;
	display: block;
	position: absolute;
	left: -9px;
	top: 17px;
}


.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  content: '';
  display: block;
  border: 5px solid #7c0707;
}
.ribbon span {
  position: relative;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #CF1717;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Roboto', sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}


.ribbon-top-left {
  position: absolute;
  top: -6.1px;
  left: 30px;
}
.ribbon-top-left:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 53px solid transparent;
  border-right: 53px solid transparent;
  border-top: 10px solid #21628D;
}
.ribbon-top-left span {
  position: relative;
  display: block;
  text-align: center;
  background: #21628D;
  font-size: 14px;
  line-height: 1;
  padding: 12px 8px 10px;
  border-top-right-radius: 8px;
  width: 106px;
  color: white;
  font: 700 18px/1 'Roboto', sans-serif;
  text-transform: uppercase;
}
.ribbon-top-left span:before, .ribbon-top-left span:after {
  position: absolute;
  content: "";
}
.ribbon-top-left span:before {
 height: 6px;
 width: 6px;
 left: -6px;
 top: 0;
 background: #21628D;
}
.ribbon-top-left span:after {
 height: 6px;
 width: 8px;
 left: -8px;
 top: 0;
 border-radius: 8px 8px 0 0;
 background: #113c58;
}

/*----------Order Page------------*/
.detail-card {
  background-color: white;
  padding: 20px 20px;
  margin: 10px 10px;  
  border-radius: 30px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  outline:none;
  border:none;
}

/*----------Form------------*/
/*Upload Avatar*/
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: auto auto;
}
.avatar-upload input {
  display: none;
}
.avatar-upload label {
  width: auto;
  height: auto;
  border-radius: 100%;
  background: #2ecc71;
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  padding: 3.5px 7.5px;
  color: white;
  position: absolute;
  margin-top: -3rem;
}
.avatar-upload label:hover {
  background: white;
  color: #2ecc71;
}

.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
}
.avatar-upload .avatar-preview > img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}

/*Input Pack*/
.form-group .success {
  border-color: #2ecc71;
}

input[placeholder] {
  font-weight: 500;
}

.form-inline > .form-group,
.form-inline > .btn {
  display: inline-block;
  margin-bottom: 0;
}

.form-help {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: #b3b3b3;
  font-size: 0.8rem;
}

.form-group input {
  height: 1.5rem;
  bottom: -1.8rem;
  position: relative;
}
.form-group textarea {
  resize: none;
  height: 6.5rem;
  bottom: -1.8rem;
  position: relative;
  text-align: justify;
  white-space: normal;
}
.form-group select {
  width: 100%;
  font-size: 1rem;
  height: 1.5rem !important;
  bottom: -1.8rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: none;
  border: none;
  line-height: 1.6;
  box-shadow: none;
  position: relative;
}
.form-group .input-label {
  position: relative;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}

.form-group .input-label-textarea {
  position: relative;
  top: -4.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}

.form-group .bar {
  position: relative;
  border-bottom: 0.0625rem solid #b3b3b3;
  display: block;
}
.form-group .bar::before {
  content: '';
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}
.form-group input,
.form-group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  border-width: 0;
  border-color: transparent;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
}
.form-group input[type="file"] {
  line-height: 1;
}
.form-group input[type="file"] ~ .bar {
  display: none;
}
.form-group select,
.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
  color: #333;
}
.form-group select ~ .input-label,
.form-group input:focus ~ .input-label,
.form-group input:valid ~ .input-label,
.form-group input.form-file ~ .input-label,
.form-group input.has-value ~ .input-label,
.form-group textarea:focus ~ .input-label,
.form-group textarea:valid ~ .input-label,
.form-group textarea.form-file ~ .input-label,
.form-group textarea.has-value ~ .input-label {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
  left: 0;
}
.form-group textarea:focus ~ .input-label-textarea,
.form-group textarea:valid ~ .input-label-textarea {
  font-size: 0.8rem;
  color: gray;
  top: -6rem;
  left: 0;
}
.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}
.form-group select:focus ~ .input-label,
.form-group select:valid ~ .input-label,
.form-group input:focus ~ .input-label,
.form-group input:valid ~ .input-label,
.form-group textarea:focus ~ .input-label-textarea,
.form-group textarea:valid ~ .input-label-textarea {
  color: #2ec06f;
}
.form-group select:focus ~ .bar::before,
.form-group input:focus ~ .bar::before,
.form-group input:valid ~ .bar::before,
.form-group textarea:focus ~ .bar::before, 
.form-group textarea:valid ~ .bar::before {
  width: 100%;
  left: 0;
}

.input-file-container {
  position: relative;
  width: 150px;
  margin: auto;
  cursor: pointer;
} 
.input-file-trigger {
  display: inline-block;
  width: 100%;
  padding: 4px 22px;
  overflow: hidden;
  color: #2ec06f !important;
  text-decoration: none;
  border: 1px solid #2ec06f;
  border-radius: 20px;
  background-size: 200px;
  background-position: 20% -40%;
  background-repeat: repeat-x;
  transition: background-position 0.8s ease;
  background-color: white;
  cursor: pointer;
}
#image {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
#image:hover + .input-file-trigger,
#image:focus + .input-file-trigger,
.input-file-trigger:hover,
.input-file-trigger:focus {
  background-position: 100% 50%;
  border: 1px solid #2ec06f;
  color: white !important;
}
.liquidinput {
  background-image: url("button/waveGreenWhite.svg");
}

.file-return {
  margin: 0;
  font-size: smaller;
}
.file-return:not(:empty) {
  margin: 0;
  font-size: smaller;
}
.file-return {
  font-weight: bold;
  font-size: smaller;
}
.file-return:not(:empty):before {
  content: "Nama File: ";
  font-weight: normal;
  font-size: smaller;
}

/*----------Alert------------*/
.alert {
  width:100%;
  object-fit: cover;
  width: auto;
  height: auto;
}

.alert-success {
  background: #2ec06f;
  border: none;
  border-radius: 20px;
  color: white;
  margin: 20px 20px;
  padding: 5px 23px;
  text-align: center;
}

.alert-danger {
  background: #fd2020;
  border: none;
  border-radius: 20px;
  color: white;
  margin: 20px 20px;
  padding: 5px 23px;
  text-align: center;
}

/*----------Firefox Bug------------*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*----------Padding Bug------------*/
[class*="col-"] {
  padding: 1rem;
}

/*----------FAQ------------*/
.accordion-item {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  border-radius: 15px;
  border-bottom: 2px solid transparent;
  border-image: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  border-image-slice: 1;
  cursor: pointer;
  background: #fff;
  margin-bottom: 0.5em;
  font-size: medium;
}
.item-header {
  display: flex;
  justify-content: space-between;
  place-items: center;
  column-gap: 0;
}

.item-icon {
  flex: 0 0 25px;
  display: grid;
  place-items: center;
  font-size: 1.25rem;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  cursor: pointer;
  color: #333;
}
.item-icon i {
  transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}
.item-question {
  font-size: 1em;
  line-height: 1;
  font-weight: 500;
}

.active .item-icon i {
  transform: rotate(180deg);
}

.active .item-question {
  font-weight: 500;
}

.item-content {
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease;
}

.item-answer {
  line-height: 150%;
  opacity: 0.8;
  text-align: left;
}


/*----------Float Button------------*/
.float {
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	left:20px;
	background-color:#2ec06f;
  transition: all 0.2s ease-in-out;
	color:white;
	border-radius:50px;
	text-align:center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  font-size: 30px;
}

.float:hover {
  background: white;
  color: #2ecc71;
}

.my-float{
	margin-top:15px;
}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

/*----------SVG------------*/
#svg{
  background: #2ec06f;
  margin-top: -10px;
  position: absolute;
}

/*----------Hide------------*/
#background-wrap {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
  }

  